extends layout/index
block speakerslist
    include includes/speakerslist
block content
    #home.container
        .row
            .col-sm-8
                .maincontent
                    include includes/articles
            include includes/sidebar


