// article 1
article.article
    h1.article-title About me
    p
        | Software Engineer. Located in Great Toronto Area Ontario. Photographer. Wanderlust. Weekend woodworker.
        | UWaterloo graduate. Gears I use: Sony A7 III. Lenses: Sony 16-35mm F4, Sony 55mm F1.8, Sony 24-105mm F4, Sony 70-200mm F4. DJI Mavic Pro II.

// article 2
article.article
    h3.article-title May the force be with us.
    P
        | Welcome to check my instagram - 
        a(href='https://www.instagram.com/jedi.will') Jedi.Will