// article 1
article.article
    h1.article-title About me
    p
        | Located in Great Toronto Area Ontario. Photographer. Software Geek. Sony Alpha user.
        br
        br

// article 2
article.article
    h3.article-title Contact
    P
        | Email: willqiu126@hotmail.com
        br
        br

// article 3
article.article
    h3.article-title May the force be with us.
    P
        | Welcome to check my instagram&nbsp
        a(href='https://www.instagram.com/jedi.will') Jedi.Will
        br
        br
        br